@import '../../variables.scss';


.screen {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: $dark-blue;
  height: 80px;
  border-radius: 30%;
  border-top: 10px solid $dark-blue;
}