@import '../variables.scss';


.ticket {
  display: flex;
  height: 200px;
  width: 700px;
  border: 2px solid $medium-blue; 
  margin: 10px 0px;
  background-color: $milk;
  flex-direction: column;
    
    &__cinema {
      font-size: 55px;
      font-weight: bold;
      color: $medium-blue;
      display: flex;
      height: 60px;
      justify-content: center;
      align-items: center;
    }
    
    &__movie {
      font-family: Snell Roundhand, cursive;
      font-size: 20px;
      color: $medium-blue;
      display: flex;
      height: 60px;
      justify-content: center;
      align-items: center;
    }
    
    &__date {
      font-family: Snell Roundhand, cursive;
      font-size: 20px;
      color: $medium-blue;
      display: flex;
      height: 40px;
      align-items: center;
      justify-content: space-around;
    }
    
    &__seat {
      display: flex;
      height: 40px;
      align-items: center;
      justify-content: space-evenly;
      font-family: Snell Roundhand, cursive;
      font-size: 20px;
      color: $medium-blue;
    }
    
    &__choice {
      font-size: 25px;
      font-weight: bold;
    }
}
