.top-navbar {
  flex-grow: 1;

    &__typography {
      flex-grow: 1;
    }
    
    &__menu {
      margin-left: -12px;
      margin-right: 20px;
    }

    &__link-to {
      text-decoration: none;
    }
}
