.choice {
    display: flex;
    //width: 150px;
   // flex-wrap: wrap;
}
.choice__place {
    border : 1px solid #00bcd4;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    justify-content: center;
    width :120px;
    margin-right: 5px;
    display: flex;
    color:#0d47a1;
    cursor: pointer;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.choice__place:hover{
    color: #00bcd4;
    border : 1px solid #0d47a1;
}