@import '../../variables.scss';


.choice {
  display: flex;
    
    &__place {
      margin-bottom: 10px;
      width: 110px;
      justify-content: center;
      margin-right: 20px;
      padding: 5px 5px;
      padding-top: 0px;
      border-left: 2px dotted $blue;
      border-bottom: 2px dotted $blue;
      display: flex;
      color: $blue;
      font-size: 17px;
      user-select: none;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    
      &:hover{
        cursor: default;
      }
    }
}
