@import '../../variables.scss';


.seat {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 20px;
  height: 18px;
  border-radius: 0 5px;
  font-family: Brush Script MT, Brush Script Std, cursive; 
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: initial;
  text-align: center;
  color: $white;
  user-select: none;
  background-color: $light-blue;

    &:hover {
      background-color: $indigo;
      cursor: pointer;
    }
    
    &:active {
      background-color: $dark-blue;
      cursor: pointer;
    }

    &_occupied {
      background-color: $dark-blue ;
    }
}

.row{
  display: flex;
  justify-content: space-between;
    
    &__number {
      font-weight: bold;
      color: $dark-blue;
      font-family: Brush Script MT, Brush Script Std, cursive;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      margin: 0px 50px;
    }
}

.rows-list {
  margin-top: 50px;
}

a {
  text-decoration: none;
}