@import '../../variables.scss';


@media only screen and (min-width: 1300px) {
  .card {
    width: 200px;
    height: 413px;

    &__poster {
      width: 200px;
      height: 300px;  
      border-radius: 5px; 
      opacity: .88;

      &:hover {
        opacity: 1;
      }
    }

    &__tittle {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      text-align: center;
      width: 200px;
      height: 70px;
      color: $bright-blue; 
    }

    &__wrapper-button {
      transform: translate(-50%, -50%);
      margin-left: 66px;
      margin-top: 20px;
    }

    &__button {
      padding: .1em 3.855em;
      text-align: center;
      text-decoration: none;
      color: $bright-blue;
      border: 2px solid $bright-blue;
      font-size: 20px;
      display: inline-block;
      border-radius: 0.3em;
      transition: all 0.2s ease-in-out;
      position: relative;
      overflow: hidden;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;

      &:before {
        content: "";
        background-color: $grey;
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
      }
      
      &:hover {
        background-color: $bright-blue;
        color: $white;
        border-bottom: 4px solid darken($bright-blue, 10%);

        &:before {
          transform: skewX(-45deg) translateX(13.5em);
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }

  @keyframes sheen {
    0% {
      transform: skewY(-45deg) translateX(0);
    }
    100% {
      transform: skewY(-45deg) translateX(12.5em);
    }
  }
}